body {background-color: #eeeeee;}
.base-container {
  position:fixed;
  top: 50%;
  left: 50%;
  width:417px;
  height:647px;
  margin-top: -20em;
  margin-left: -13em;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px grey;
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 58px;
      font-family: 'Poppins';
      font-weight: bold;
    }
  }

  .registerOption {
    textDecoration: 'none';
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 16px;
      font-family: 'Poppins';
      color: grey;

    }
    img{
      width: 36px;
      height: 36px
    }
    .registerOption{
      color: #6f6cd2;
      span {
        text-decoration: none;
        font-weight: bold;
      }
    }
  }

  .form {
    margin-top:  1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-group {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: fit-content;

      input {
        margin-top: 6px;
        min-width: 369px;
        height: 62px;
        padding: 0px 20px;
        font-size: 16px;
        font-family: 'Poppins';
        background-color: #F0EFFF;
        border: 0;
        border-radius: 10px;
        transition: all 250ms ease-in-out;
        &:focus {
          outline: none;
          box-shadow: 0px 0px 5px 0.8px #A7A3FF;
        }
      }
    }
    input::placeholder{
      color: #A7A3FF;
    }
    .footer {
      margin-top: 3em;

      button {
        width: 369px;
        height: 59px;
        display:inline-block;
        padding:0.3em 1.2em;
        margin:0 0.3em 0.3em 0;
        border-radius:10px;
        box-sizing: border-box;
        text-decoration:none;
        font-weight:300;
        color:#FFFFFF;
        background-color:#5450bd;
        text-align:center;
        font-weight: bold;
        transition: all 0.2s;
        border: 0px;
        box-shadow: 0px 0px 10px #6f6cd2;
      }
    }
  }
}